<div id="login">

  <div class="row">
    <div class="container">
      <div class="section">

        <h5>アカウント作成</h5>

      </div>
      <div class="section">

        <div id="loginform">
          <form action="/createAccountSend" method="POST">
            E-Mail: <input type="text" id="eMail" name="eMail">
            パスワード: <input type="password" id="password" name="password">
            <p><input type="submit" id="send" value="作成"></p>
          </form>
        </div>

      </div>
      <div class="section">
        <a href="/login">ログイン画面はこちら</a>
      </div>
    </div>
  </div>

</div>
